# dependencies
node_modules/

# builds
dist/
build/
*.tsbuildinfo
apps/api/src/generated/

# env
.env
.env.*
!.env.example

# local file storage
uploads/

# logs & tooling
*.log
coverage/
.DS_Store
.vscode/*
!.vscode/extensions.json

# development email previews
.email-previews/

# playwright
apps/e2e/test-results/
apps/e2e/playwright-report/
